body {
    text-align: center;
    font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO", sans-serif;
    background-color: white;
}

h1 {
    color: #03A9F4;
    font-size: 30px;
}

.copr {
    width: 150px;
    font-size: 3px;
    position: relative;
    left: 610px;
    margin-top: 30px;
}

table {
    width: 700px;
    margin: 0 auto;
}

th {
    background-color: yellowgreen;
    height: 40px;
}

#num {
    width: 50px;
}

#word {
    width: 200px
}

td {
    background-color: #ddd;
    height: 40px;
}